body {
    font-family: Rubik Wet Paint;
}


h1 {
    color: #D4D46A;
    font-family: Smokum;
}

body {
    /* background-color: #609732; */
    background-image: url("table.png");
    background-size: cover;
    text-align: center;


}

#message-el {
    font-family: Smokum;
    color: #D4D46A;
    font-size: 2rem;
}

p {
    font-family: Smokum;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

button {

    align-items: center;
    width: 200px;
    height: 4rem;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;    
    color: #4A9130;
    font-weight: bold;
    border-radius: 4px;    
    background-color: #D4D46A;
    margin: 4px;
}