body {
    font-family: Rubik Wet Paint;
    font-family: Smokum;
    background-size: cover;
    text-align: center;
    height: 100vh;
}


h1 {
    color: #D4D46A;
    font-family: Smokum;
}

body {
    /* background-color: #609732; */
    background-image: url("table.png");
    background-size: cover;
    text-align: center;


}

#message-el {
    font-family: Smokum;
    color: #D4D46A;
    font-size: 2rem;
}

p {
      font-family: Smokum;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

button {

    font-family: Smokum;
    background-size: cover;
    text-align: center;
    height: 100vh;
}